* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}

body {
	background: #001e4d;
}

.app {
	background: linear-gradient(135deg, #ccd2db, #bfcadf, #8b9aba);
	width: 90%;
	max-width: 600px;
	margin: 150px auto 0;
	border-radius: 10px;
	padding: 50px;
	transform: perspective(500px) rotateY(5deg);
    box-shadow: -50px 15px 50px rgba(128, 128, 128, 0.636);
}

.app h1 {
	font-size: 25px;
	color: #001e4d;
	font-weight: 600;
	border-bottom: 1px solid #333;
	padding-bottom: 20px;
}

.quiz {
	padding: 20px 0;
}
.quiz h2 {
	font-size: 20px;
	color: #001e4d;
	font-weight: 600;
	margin-bottom: 10px;
}

.btn {
	background-color: #ffffff6d;
	color: #0d3e4b;
	font-weight: 500;
	width: 100%;
	border: 0px solid black;
	border-radius: 10px;
	padding: 15px;
	margin: 5px 0;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
     box-shadow: -20px 15px 30px rgba(128, 128, 128, 0.636);
}

.btn:hover:not([disabled]) {
	background-color: #001e4d;
	color: white;
}
.btn:disabled {
	cursor: no-drop;
}
#next-btn {
	background-color: #001e4d;
	color: white;
	width: 150px;
	font-weight: 500;
	cursor: pointer;
	border-radius: 10px;
	padding: 10px;
	margin: 20px auto 0;
	display: none;
}

.correct {
	background-color: #76e7a7;
}
.incorrect {
	background-color: #f79797;
}
